<!DOCTYPE html>
<html>
<head>
  <title>TransIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body>

  <header>
    <div class='container'>
      <h1><a href='/'>TransIt</a></h1>
      <nav>
        <ul>
          <li>
            <a href='/nearby'>Near Me</a>
          </li>
          <li>
            <a href='/agencies'>Browse Agencies</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class='container' data-no-turbolinks>
    <%= yield %>
  </div>

  <%= content_tag 'script', '', id: 'asset-paths', data: { asset_paths: image_paths } %>

  </body>

</html>
